.main {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 25px;
     margin-top: 400px;
}

.main h2 {
     grid-column: span 2; 
 }

@media (max-width: 768px) {
     .main {
         grid-template-columns: 1fr ;
         margin-top: 0;
     }
 
     .main h2 {
         grid-column: span 1; 
     }
 
 }