.info {
  width: 100%;
  padding: 20px 50px;
  height: fit-content;
  margin-top: 30px;
  background: var(--main-image-gradiend);
  border: var(--main-border);
  border-radius: 5px;
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 400px;
  z-index: 101;
}

.last-info {
  width: 100%;
  padding: 20px 50px;
  height: fit-content;
  margin-top: 30px;
  background: var(--main-image-gradiend);
  border: var(--main-border);
  border-radius: 5px;
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 0px;
  z-index: 101;
}

.info p,
.last-info p {
  margin-top: 10px;
}

.rendered-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.place-holder {
  opacity: 0;
}

.icons {
  width: fit-content;
  height: fit-content;
  float: right;
}

.icon {
  width: fit-content;
  display: inline-block;
  margin: 3px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .info {
    margin-bottom: 0;
  }
}